iGoat-Swift/iGoat-Swift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
iGoat-Swift/iGoat-Swift.xcodeproj/project.xcworkspace/xcuserdata/masbog.xcuserdatad/UserInterfaceState.xcuserstate
iGoat-Swift/iGoat-Swift.xcodeproj/xcuserdata/masbog.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
iGoat-Swift/iGoat-Swift.xcodeproj/xcuserdata/masbog.xcuserdatad/xcschemes/xcschememanagement.plist
